<div id="nav" class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <%= nav_link "Home", root_path %>
      <% if current_user %>
        <%= nav_link "Future", room_path(Room.default) %>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted">Friendsterbookspace</h3>

  <% if current_user %>
    <span class="text-muted float-left">Welcome to The Future <%= current_user.first_name %></span>
    <div class="clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <%= content_tag(:li, class: "nav-item") do %>
            <%= button_to "Logout", session_path(current_user), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </ul>
      </nav>
    </div>
  <% end %>
</div>
