<!DOCTYPE html>
<html>
  <head>
    <title>Friendsterbookspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "flash" %>

    <%= yield %>

    <%= link_to Clients::Amazon.auth_url do %>
      <%= image_tag "https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_drkgry_312x64.png" %>
    <% end %>
    </a>
  </body>
</html>
